* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.container {
    background-color: black;

}

.container .fixer {
    position: sticky;
    background-color: rgb(155, 242, 5);
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px;
    width: 20%;
    float: left;
    margin-left: 2px;
}

.container .slider {
    background-color: rgb(12, 11, 11);
    height: auto;
    width: 79%;
    float: right;
}

.navbar {
    background-color: rgb(13, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side1 {
    left: 10%;
    position: relative;
}

.side1 :nth-child(1) {
    width: 38px;
    position: relative;
    top: 15px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50%;
}

.side1 :nth-child(2) {
    background-color: black;
    width: 30vw;
    height: 50px;
    text-align: center;
    margin: 4px;
    border: 1px solid rgb(220, 204, 204);
    border-radius: 25px;
}

.side2 {
    position: relative;
    display: flex;
}

.side2 :nth-child(1) {
    background-color: black;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;
    margin-left: 0%;
    border: 2px black;
    border-radius: 25px;

}

.side2 :nth-child(2) {
    background-color: rgb(242, 233, 233);
    width: 100px;
    height: 50px;
    text-align: center;
    color: rgb(21, 3, 3);
    margin-left: 0%;
    border-radius: 25px;

}

.box {
    width: 100%;
    background-color: black;
    height: auto;
    color: white;
}

.artphoto {
    display: grid;
    margin-top: 4%;
    grid-template-columns: 187px 187px 187px 187px 187px 187px;
    grid-template-rows: 300px;
    border: 2px solid rgb(18, 18, 18);
    flex-wrap: nowrap;
}
.heading {
    margin-left: 2%;
    margin-top: 3%;
}
.photo1 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(9, 9, 9);
}

.photo1 :nth-child(1) {
    height: 170px;
    width: 170px;
    margin: 0px;
    border-radius: 50%;
}

.photo2 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(10, 10, 10);
}

.photo2 :nth-child(1) {
    height: 170px;
    width: 170px;
    border-radius: 50%;

}

.photo3 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(20, 20, 20);
}

.photo3 :nth-child(1) {
    height: 170px;
    width: 170px;
    border-radius: 50%;

}

.photo4 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(15, 15, 15);
}

.photo4 :nth-child(1) {
    height: 170px;
    width: 170px;
    border-radius: 50%;

}

.photo5 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(13, 12, 12);
}

.photo5 :nth-child(1) {
    height: 170px;
    width: 170px;
    border-radius: 50%;

}

.photo6 {
    position: relative;
    justify-items: center;
    align-items: center;
    border: 2px solid rgb(10, 9, 9);
}

.photo6 :nth-child(1) {
    height: 170px;
    width: 170px;
    border-radius: 50%;

}
.photo6 :nth-child(2) {
    position: relative;
    left: 2%;
}
.photo6 :nth-child(3) {
    position: relative;
    left: 2%;
    background-color: red;
    margin-left: 2px;
}