* {
    margin: 0px;
    padding: 0px;
}

.navigation {
    height: 80px;
    width: 100vw;
    border: 0.5px  solid black;
}
.sl {
    float: left;
    padding-left:80px;
    margin: 25px;
    font-size: 22px;
    align-content: center;
    

}
.sr {
    float: right;
    display: flex;
    margin-right: 40px;
}
.sr :nth-child(1) {
    margin: 10px;
    align-content: center;
}
.sr :nth-child(2) {
    margin: 10px;
    align-content: center;
}
.sr :nth-child(3) {
    margin: 10px;
    align-content: center;
}
.sr :nth-child(4) {
    margin: 10px;
    align-content: center ;
}
.sr :nth-child(5) {
    margin: 10px;
    align-content: center;
}
.sr :nth-child(6) {
    margin: 10px;
    background-color: black;
    border-radius: 30px;
    color: white;
    height: 50px;
    width: 200px;
    text-align-last: center;
    align-content: center;
    font-family: Georgia, serif;
}
.chall {
    height: 80px;
    width: 100vw;
    border: 0.5px solid black;
    position: relative;
   
}
.chall :nth-child(1) {
    position: relative;
    left: 7vw;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
}
.container {
   
}
.leftside1 {
    float: left;
    height: auto;
    width: 45vw;
}
.leftside1 :nth-child(1) {
    color: rgb(59, 59, 214);
    font-size: 40px;
    position: relative;
    padding-top: 40px;
    left: 20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.leftside1 :nth-child(2) {
    padding-top: 30px;
    font-size: 24px;
    color: rgb(19, 248, 95);
    position:relative ;
    left: 20%;
    line-height: 38px;
}
.rightside1 {
    float: right;
    height: auto;
    width: 45vw;

}
.rightside1 :nth-child(1) {
    height: 80vh;
    width: 50vw;
}